<div class="wrapper">
<div class="profile_image">
  <%= image_tag(@user.avatar) %>
  <%= link_to "Edit Profile", edit_user_path(@user) %>
  
</div>

<div class="Playlist">
  <h2>Playlists</h2>
  <ul>
    <% @user.playlists.each do |playlist| %>
    <li> 
        <%= link_to playlist.name, playlist_path(playlist) %> 
        <ul>
          <% playlist.songs.each do |song| %>
          <li>
              <%= song.album.band.name %>: <%= song.name %><br>
              <%= audio_tag(song.track, autoplay: false, controls: true) %>
          </li>
          <% end %>
        </ul>
    </li>
    <% end %>
  </ul>
  <%= link_to 'New Playlist', new_playlist_path %>
</div>

<% if @user.band %>
  
  <div class="Band">
    
    <h2><%= link_to @user.band.name, band_path(@user.band.id) %> </h2>
    <h4><%= link_to 'EDIT', edit_band_path(@user.band) %></h4>
    <%= image_tag @user.band.band_art %>
      <% unless @user.band.albums.blank? %>
      <ul>
        <div class="RecentAlbums">
          <% @user.band.albums.each do |album| %>
          
            <div class="album">
              <%= link_to "#{image_tag(album.album_art)}".html_safe, band_album_path(album.band, album) %>
            </div>
            <% end %>
          </div>
          
      <% end %>
      <%= link_to 'Create New Album', new_band_album_path(@user.band) %>
    </ul>
  
  </div>
<% else %>
<%= link_to 'Start a Band!', new_band_path %>
<% end %>

</div>
