<p id="notice"><%= notice %></p>
<div class="profile_image">
  <%= image_tag(@user.avatar) %>
  <%= link_to "Edit Profile", edit_user_path(@user) %>
  
</div>

<div class="Playlist">
  <h2>Playlists</h2>
  <ul>
    <% @user.playlists.each do |playlist| %>
    <li> 
        <%= link_to playlist.name, playlist_path %> 
    </li>
    <% end %>
  </ul>
</div>

<div class="Albums">
  <h2>Albums</h2>
  <ul>
    <% @user.band.albums.each do |album| %>
    <li> 
        <%= link_to album.name, album_path %> 
    </li>
    <% end %>
  </ul>
</div>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
