<h1>Albums#index</h1>
<% @albums.each do |album| %>
<p><%= album.name %> | <%= album.user.try :name %> | <%= album.songs.first.try :name %><%= link_to 'Edit', edit_album_path(album) %> <%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' } %></p>

<% end %>
