<h1><%= @album.name %></h1>
<ul>
<% @album.songs.each do |song| %>
  <li>
    <%= song.album.band.name %>/<%= song.album.name %><br><%= song.name %><br><br><%= audio_tag(song.track, autoplay: false, controls: true) %>
  </li><br>
<% end %>
</ul>