<%= form_for(@band) do |f| %>
  <% if @band.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@band.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% @band.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
      <%= f.label :band_art %><br />
      <%= f.file_field :band_art %>
  </div>
  <div class="field">
      <%= f.label :Page_Background %><br />
      <%= f.file_field :custom_background %>
  </div>
  <div class="field">
    <%= f.label :Font %><br />
    <%= f.text_field :custom_font %>
  </div>
    <%= f.submit %>
  </div>
<% end %>
