<style type="text/css">
  body {
    background-image: url(<%= @band.custom_background %>);
    background-size: cover;
  }
  h2 {
    font-family: <%= @band.custom_font %>;
  }
</style>

<div class="wrapper">
<% if @band %>
  
  <div class="Band">
    
    <h2><%= @band.try :name %></h2>
    <%= image_tag @band.band_art %>
      <% unless @band.albums.blank? %>
      <ul>
        <div class="RecentAlbums">
          <% @band.albums.each do |album| %>
          
            <div class="album">
              <%= link_to "#{image_tag(album.album_art)}".html_safe, band_album_path(album.band, album) %>
            </div>
            <% end %>
          </div>
          
      <% end %>

      <% if current_user == @band.user %> 
      <%= link_to 'Create New Album', new_band_album_path(@band) %>
      <% end %>
    </ul>
  
  </div>
<% else %>
<% if current_user == @band.user %> 
<%= link_to 'Start a Band!', new_band_path %>
<% end %>
<% end %>
</div>