<!DOCTYPE html>
<html>
<head>
  <title>RockOnApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <ul>
      <li>
        <%= link_to 'Rock On!', root_path %>
      </li>
      <li>
        <%= link_to "Sign Up", new_user_path %>
      </li>
      <li>
        <%= link_to 'Login', login_path %>
      </li>
      <li>
        <%= link_to 'Log Out!', logout_path %>
      </li>
    </ul>
  </nav>

<%= yield %>
<footer>
  <% flash.each do |name, msg| %>
    <div class="flash-message flash-message-<%= name %>">
      <%= msg %>
    </div>
    <% end %>
    <% if current_user %>
    <p>Hello <%= current_user.name %>, you are registered as a <%= current_user.role %></p>
    <% end %>
</footer>
</body>
</html>
