<!DOCTYPE html>
<html>
<head>
  <title>RockOnApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700,100' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

  <style type="text/css">
      
      body {
        background-color: #F2F2F2;
        font-family: 'Roboto Slab', serif;
      }

    .band {
      width: 100%;
      height: 350px;
      overflow: hidden;
    }

    .band img {
      width: 100%;
      height: 100%;
      margin: 0px 0 0 0px; 
    }

    .wrapper {
      padding: 70px 0px;
      margin: 0 auto;
      max-width: 850px;
      min-width: 850px;
    }

    .RecentAlbums {
      position: relative;
      color: #333333;
      max-width: 850px;
      min-width: 850px;
    }

    .RecentAlbums img {
          width: 230px;
          border: 5px solid black;
        }

    .RecentAlbums a:hover img {
          width: 230px;
          border: 5px solid #a9a9a9;
        }

    .RecentAlbums .album  {
      position: relative;
      display: inline-block;
      padding: 0 25px 25px 0;
    }

    .profile_image img {
      width: 250px;
    }

    h1, h2 {
      font-weight: 700;
      color: #333333;
    }

    h2 a:visited {
      text-decoration: none;
      color: #333333;
    }

    h2 a {
    text-decoration: none; 
    color: #333333;
    }

    footer {
      z-index: 10;
      min-height: 40px;
      color: #F2F2F2;
      background-color: #333333;
      width: 100%;
      bottom: 0;
      position: fixed;
      padding-left: 20px;
    }

    footer a {
      color: #F2F2F2;
      font-style: italic;
      font-size: .7em;
      padding-left: .5em;
    }
    footer a:visited {
      color: #F2F2F2;
      font-style: italic;
      font-size: .7em;
      padding-left: .5em;
    }

    header {
      width: 100%;
      height: 50px;
      background-color: #BF0404;
      border-bottom: 5px solid black;
      position: fixed;
      z-index: 10;
    }
    nav {
      margin: 0 auto;
      max-width: 850px;
      position: relative;
    }

    nav a {
     color: #F2F2F2;
      font-size: 1em;
      text-decoration: none;
    }

    nav a:visited {
      color: #F2F2F2;
      text-decoration: none;
    }

    nav a:hover {
      color: #333333;
      
    }

    .navigation{
      padding-top: 15px;
      display: inline-block;
      height: 100%;
    }
    .navigation ul, li {
      display: inline;
      margin: 0;
      padding: 0 50px 0 0;
      vertical-align: middle;
    }

    h4.flag {
      color: #BF0404;
    }

    textarea {
      height: 100px;
      width: 295px;
    }

@media (max-width: 1130px) {
       .search {
          display: none;

        }
        .PopularSongs {
          display: none;

        }

      }

      @media (min-width: 1130px) {
             .search {
                display: inline-block;
                position: relative;
              }

              .search input[type=text] {
                 width: 200px;
               }

              .PopularSongs {
                color: #333333;
                position: fixed;
                font-size: 1.2em;
                top: 70px;
                right: 30px;
                max-width: 200px;
                text-align: right;
              }
              .PopularSongs a {
                text-decoration: none;
                color: #BF0404;
              }
              .PopularSongs i {
                padding-left: 10px;
              }

            }

  </style>
</head>
<body>
  <header>
    <nav>
      <div class="navigation">
        <ul>
          <li>
            <%= link_to 'Rock On!', root_path %>
          </li>
          <% if current_user %>
          <li>
            <%= link_to current_user.name, user_path(current_user) %>
          </li>
          <% end %>
          <li>
            <%= link_to "Bands", bands_path %>
          </li>
          <% unless current_user %>
          <li>
            <%= link_to 'Login', login_path %>
          </li>
          <% end %>
          <% unless current_user %>
          <li>
            <%= link_to "Sign Up", new_user_path %>
          </li>
          <% end %>
        </ul>
      </div>
      <div class="search">
            <%= search_form_for @q do |f| %>
                <%= f.text_field :name_cont, :placeholder => "Search Bands" %> 
                <%= f.submit %>
            <% end %>
      </div>
    </nav>
  </header>
<%= yield %>

<footer>
  <% flash.each do |name, msg| %>
    <div class="flash-message flash-message-<%= name %>">
      <%= msg %>
    </div>
    <% end %>
    <% if current_user %>
    <p><%= current_user.name %> you're logged in. <%= link_to '[ Logout ]', logout_path %></p>
    <% end %>
</footer>
</body>
</html>
