<!DOCTYPE html>
<html>
<head>
  <title>RockOnApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style type="text/css">
      
      body {
        background-color: white;
      }

    .band {
      width: 100%;
      height: 350px;
      overflow: hidden;
    }

    .band img {
      width: 100%;
      height: 100%;
      margin: 0px 0 0 0px; 

    }

    .PopularSongs {
      position: fixed;
      top: 50px;
      right: 20px;
      max-width: 200px;
      text-align: right;
    }

    .wrapper {
      padding: 70px 0px;
      margin: 0 auto;
      width: 850px;
    }

    .RecentAlbums {
      position: relative;
      color: #333333;
    }

    .RecentAlbums img {
          width: 250px;
          border: 5px solid white;
        }

    .RecentAlbums a:hover img {
          width: 250px;
          border: 5px solid black;
        }

    .RecentAlbums .album  {
      position: relative;
      display: inline-block;
      padding: 0 20px 20px 0;
    }


    nav {
      z-index: 10;
      min-height: 20px;
      color: white;
      background-color: #333333;
      width: 100%;
      top: 0;
      position: fixed;
    }

    footer {
      z-index: 10;
      min-height: 20px;
      color: white;
      background-color: #333333;
      width: 100%;
      bottom: 0;
      position: fixed;
      padding-left: 20px;
    }

    nav a:visited {
      color: white;
    }
    nav a:hover {
      color: blue;
    }

    a {
      text-decoration: none;
    }

    nav li {
      display: inline;
      padding-right: 10px;  
    }
  </style>
</head>
<body>
  <nav>
    <ul>
      <li>
        <%= link_to 'Rock On!', root_path %>
      </li>
      <li>
        <%= link_to current_user.name, user_path(current_user) if current_user %>
      </li>
      <li>
        <%= link_to "Sign Up", new_user_path unless current_user %>
      </li>
      <li>
        <%= link_to 'Login', login_path unless current_user %>
      </li>
      <li>
        <%= link_to 'Logout', logout_path if current_user %>
      </li>
      <li>
        SEARCH
      </li>
    </ul>
  </nav>
<%= yield %>

<footer>
  <% flash.each do |name, msg| %>
    <div class="flash-message flash-message-<%= name %>">
      <%= msg %>
    </div>
    <% end %>
    <% if current_user %>
    <p><%= current_user.name %> you're logged in.</p>
    <% end %>
</footer>
</body>
</html>
